versions:
  javaformat: &javaformat_version 0.0.47
  rockcraft: &rockcraft_version 1.2.4

format:
  gradle:
    id: io.spring.javaformat
    version: *javaformat_version
    class-name: io.spring.javaformat.gradle.SpringJavaFormatPlugin
    default-task: format
    description: Format the source code
    tasks:
      - format
    repository: gradlePluginPortal()
    classpath: "io.spring.javaformat:io.spring.javaformat.gradle.plugin:*javaformat_version"
  maven:
    id: io.spring.javaformat:spring-javaformat-maven-plugin
    version: *javaformat_version
    default-task: :apply
    description: Format the source code
    tasks:
      - :apply

dependencies:
  gradle:
    id: io.github.rockcrafters.rockcraft
    version: *rockcraft_version
    classpath: "io.github.rockcrafters.rockcraft:io.github.rockcrafters.rockcraft.gradle.plugin:*rockcraft_version"
    class-name: com.canonical.rockcraft.gradle.RockcraftPlugin
    repository: gradlePluginPortal()
    default-task: dependencies-export
    description: |
      Save project dependencies
    tasks:
      - dependencies-export
    # Gradle Kotlin DSL snippet to configure the defaults
    default-configuration:
  maven:
    id: io.github.rockcrafters:rockcraft-maven-plugin
    version: *rockcraft_version
    default-task: :create-build-rock
    description: |
      Save project dependencies
    tasks:
      - :create-build-rock

rockcraft:
  gradle:
    id: io.github.rockcrafters.rockcraft
    version: *rockcraft_version
    classpath: "io.github.rockcrafters.rockcraft:io.github.rockcrafters.rockcraft.gradle.plugin:*rockcraft_version"
    class-name: com.canonical.rockcraft.gradle.RockcraftPlugin
    repository: gradlePluginPortal()
    default-task: build-rock
    description: |
      Plugin for rock image generation
    tasks:
      - create-rock
      - build-rock
      - create-build-rock
      - build-build-rock
      - push-rock
      - push-build-rock
  maven:
    id: io.github.rockcrafters:rockcraft-maven-plugin
    version: *rockcraft_version
